@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=EB+Garamond&family=IBM+Plex+Sans+Condensed&family=Kanit:ital,wght@1,300&family=PT+Serif:ital@0;1&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,400;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,500;1,700;1,900&display=swap');


:root{
    --clr1:#f95b11;
    --clr2:#fff;
    --clr3:#000;
    --clr4:#f42f1d;
    --clr5:limegreen;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    text-decoration: none;
    text-transform: uppercase;
}

html{
    font-size: 65%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-thumb{
    background: var(--clr4);
}
section{
    padding: 4rem 9%;
    margin-top: 8rem;
}
section h4{
    margin: 0 0 1rem 25rem;
    margin-bottom: 5%;
    padding: .2rem;
    width: 50%;
    font-size: 3rem;
    color: var(--clr2);
    text-transform: none;
    text-align: center;
    align-items: center;
    letter-spacing: .1rem;
    clip-path: polygon(0% 15%, 34% 39%, 15% 0%, 85% 0%, 66% 38%, 100% 15%, 100% 85%, 66% 64%, 85% 100%, 15% 100%, 35% 59%, 0% 85%);
    background: var(--clr4);
}

.section h3{
    font-size: 3rem;
    color: var(--clr2);
    text-transform: none;
    text-align: center;
    letter-spacing: .2rem;
}

section p{
    color: var(--clr2);
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 2.5rem;
    word-wrap: normal;
}

.btn{
    margin-top: 2rem;
    padding: 1.3rem 4rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    font-weight: 600;
    color: var(--clr3);
    background: var(--clr2);
    border: none;
    border-radius: .3rem;
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.1);
    transition: all .3s ease;
    cursor: pointer;
    outline: none;
}
.btn:hover{
    color: var(--clr2);
    background-color: var(--clr3);
    box-shadow: 0 2rem 2rem rgba(255,85,94,0.4);
    transform: translateY(-1rem);
}

.head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    background: var(--clr4);
    color: var(--clr2);
    padding: 3rem 9%;
    align-items: center;
    justify-content: space-between;
}

.head h1{
    font-size: 2.5rem;
}

.head .fa-pizza-slice{
    animation: icon 5s ease infinite;
}


@keyframes icon{
    25%{
        transform: translateY(-1.5rem);
    }
    50%{
        transform: translateY(1.5rem);
    }
}

.head .navbar a{
    color: var(--clr2);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 2rem;
}
.head .navbar a:hover{
    color: var(--clr3);
    transition: .4s ease;
    border-bottom: 4px solid #fff;
}
.head .side-bar i{
    padding: 1.5rem;
    font-size: 2.1rem;
    border: none;
    background: var(--clr2);
    color: var(--clr4);
}
.head .side-bar i:hover{
    background: var(--clr3);
    transition: .4s ease; 
}

#bars{
    display: none;
}
.search-bar{
    height: 7rem;
    padding: 0 1rem;
    display: flex;
    position: absolute;
    top:99%;
    left: 50%;
    right: 0;
    align-items: center;
    background: var(--clr3);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 0 0%);
}
.search-bar input{
    width: 100%;
    background: none;
    border: hidden;
    text-transform: none;
    font-size: 1.5rem;
    color: #fff;
}

.search-bar.active{
    border: hidden;
    transition: .2s ease;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}


/* ***home-section***** */

.home{
    height: 120vh;
    background:url(./photos/background\ food.png);
    overflow: hidden;
    background-position: fixed;
    background-size: cover;
    /* background-position: center; */
}
.home-content{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
}
.inner-content{
    max-width: 70rem;
    margin-top: 20rem;
    text-align: center;
    
}
.inner-content h3{
    font-size: 30px;
    color: var(--clr2);
}
.home-content i{
    color: var(--clr4);
}
.inner-content-img{
    margin-top: 6rem;
}

.inner-content-img img{
    width: 45rem;
    height: auto;
    animation: icon 9s ease infinite;
}

/******About-section ******/

.about-sec{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
}
.img img{
    width: 45rem;
    height: auto;
    text-align: center;
    animation:icon 6s infinite;
}

.about-content h3{
    background: url(./photos/backimg.png);
    background-size: cover;
    background-position: center;
    color: var(--clr4);
    text-align: center;
    font-size: 30px;
}
.about .btn{
    border: .1rem solid var(--clr4);
}

.about-content p{
    margin-top: 3%;
    padding-bottom: 2rem;
    color: var(--clr3);
    font-size: 1.4rem;
    font-weight: 800;
}

.about-inner h5{
    padding: 1rem 0;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 900;
}
.about-inner i{
    color: var(--clr1);
    padding-right: 1rem;
}

.about-inner h5:hover{
    transform: translateX(2rem);
    transition: 1s ease;
}
.btn1{
    margin-top: 2rem;
    padding: 1.3rem 4rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    font-weight: 600;
    color: var(--clr2);
    background: var(--clr4);
    border: none;
    border-radius: .3rem;
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.1);
    transition: all .3s ease;
    cursor: pointer;
    outline: none;
}

.btn1:hover{
    color: var(--clr2);
    background-color: var(--clr3);
    box-shadow: 0 2rem 2rem rgba(255,85,94,0.4);
    transform: translateY(-1rem);
}
/* *********service-section******** */

.service-content{
    padding: 1rem 0;
    display: grid;
    grid-template-columns:1.2fr 1.2fr 1.2fr;
    grid-gap: 1rem;
}

.inner-box{
    padding: 3rem 2rem;
    text-align: center;
    border: .1rem solid var(--clr4);
    background: #eee;
}

.inner-box:hover{
    background-color: var(--clr4);
    transition: .5s ease all;
}


.inner-box img{
    width: 15rem;
    height: 15rem;
}
.inner-box p{
    font-size: 1.3rem;
    color: var(--clr3);
}
.inner-box h2{
    padding: 2rem 0;
    font-size:3rem;
    letter-spacing: .1rem;
    text-transform: capitalize;
}

/* ********menu-section******* */
.menu-content{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-gap: 1rem;
    flex-wrap: wrap;
}

.in-box{
    padding: 3rem 4rem;
    text-align: center;
    border: 1rem solid var(--clr4);
    background: #eee;
}
.in-box:hover{
    background: var(--clr4);
    transition: .4s ease all;
}
.in-box img{
    width: 20rem;
    height: auto;
}
.in-box .far{
    position: absolute;
    font-size: 1.9rem;
    margin-left: -5rem;
    color: var(--clr3);
}
.in-box .veg-img{
    margin-left: 22rem;
    position: absolute;
    width: 3rem;
}
.fa-plus-circle{
    color: var(--clr4);
}

.price{
    padding: 1rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--clr3);
    text-transform: capitalize;
}
.star i{
    margin: 1.5rem 0 2rem 0;
    font-size: 1.5rem;
}

.star h2{
    font-size: 2.5rem;
    margin: 2rem 0;
    /* font-weight: 800; */

}
.fa-star{
    color: var(--clr5);
    /* font-size: 1.5rem; */
}
.in-box .far{
    font-size: 2rem;
    color: var(--clr3);
}



/* *******Blog-section******** */

.inner-blog{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-gap: 1rem;
}
.blog-content{
    position: relative;
    background: var(--clr2);
}
.im img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.in-blog-icon{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    background: var(--clr3);
}
.in-blog-icon a{
    font-size: 1.5rem;
    color: var(--clr2);
    text-transform: capitalize;
}

.in-blog-icon i{
    padding: 0rem .5rem 0 0;
    color: var(--clr2);
}
.in-blog-content{
    text-align: center;
    padding: 2.5rem;
    background: #eee;
}
.in-blog-content h2{
    color: var(--clr3);
    font-size: 1.9rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
.in-blog-content p{
    color: var(--clr3);
    font-size: 1.2rem;
}

/* ******contant-section******** */

.contact{
    background-image: url(./photos/contact-bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3rem;
}

.contact-sec{
    width: 100%;
}
.contact-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-inner-col{
    margin: 2rem;
    flex: 1 1 20rem;
    text-align: center;
}
.contact-inner-col img{
    width:60%;
    height: auto;
    margin: 1.5rem;
    padding: 1rem;
}

.contact-inner-col h1{
    padding: 1rem 0;
    color: var(--clr4);
    margin-bottom: 1.5rem;
    font-size: 4rem;
    letter-spacing: .1rem;
    text-transform: capitalize;
}
.contact-inner-col p{
    padding: .5rem 0;
    /* margin-bottom: 1rem; */
    line-height: 1.5rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #cacaca;
}

.contact-inner-col input,
.contact-inner-col textarea{
    width: 80%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    border: none;
    border-bottom: .3rem solid var(--clr4);
}
textarea{
    resize: none;
}

/* *********mediaquiery********* */

@media(max-width:991px){
    html{
        font-size: 55%;
    }
    
    header{
        padding: 2rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
}

@media(max-width:768px){
    #bars{
        display: inline-block;
    }
    section h4{
        margin-left: 15rem;
        text-align: center;
    }
    .search-bar input{
        width: 100%;
    }
    .head .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        background: var(--clr3);
        font-size: 2rem;
    }
    .head .navbar a{
        margin: 2rem 2.5rem;
        display: block;
        border-right: .1rem solid var(--clr4);
    }

    .head .navbar a:hover{
        transform: translateX(2rem);
    }
    .head .navbar.active{
        right: .5rem;
        transition: .4s ease-in;
    }
    /* .home{
        height: 150vh;
    } */
    .home-content{
        display: inline-block;
    }
    .home .home-content{
        text-align: center;
    }

    .home .inner-content-img img{
        width: 50rem;
        margin-bottom: 90rem;
    }
    .about-sec{
        display: inline-block;
    }
    .about-sec img{
        margin-left: 15rem;
        text-align: center;
    }

    .service-content,
    .menu-content,
    .inner-blog{
        display: inline-block;
        overflow: hidden;
    }
    .menu-content{
        margin-left: 7rem;
        /* text-align: center; */
    }
    .blog-content,
    .service-content
    {
        padding: 1rem;
    }
}
